@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html > body {
    font-family: "GmarketSansMedium";
    text-underline-position: under;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #3C64B1 ;
    border-color: #3C64B1 ;
}

.table-header{
    background-color: #DFE6F3;
}


.pagination > li > a
{
    background-color: white;
    color: #A1B6E0;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #A1B6E0 ;
    border: solid 1px #A1B6E0 ;
}

.pagination > .active > a:hover
{
    background-color: #A1B6E0;
    border: solid 1px #A1B6E0;
}

.site-footer{
    background-color: #F8F9FA;
    color: #5a5a5a !important;

}


